body{
	margin: 0px;
	font-family: Tahoma;
	font-size: 13px;
	font-weight: normal;
	overflow: hidden;
}

#container{
	min-width: 800px;
}

header{
	position: fixed;
	top: 0px;
	left: 0px;
	width: 100%;
}

header .container{
	margin: 0px auto;
	display: table;
	min-width: 800px;
	text-align: center;
}

nav{
	position: fixed;
	background-color: #333333;
	padding: 10px;
	bottom: 0px;
	left: 0px;	
	color: #FFFFFF;
	width: 100%;	
	
	/* ELEMENTO NÃO SELECIONÁVEL */ 
	-webkit-user-select: none; -moz-user-select: none; -ms-user-select: none; -o-user-select: none; user-select: none;

	/* TRANSPARÊNCIA */
	-ms-filter:"progid:DXImageTransform.Microsoft.Alpha(Opacity=93)";
	filter: alpha(opacity=93); -moz-opacity:0.93; -khtml-opacity: 0.93; opacity: 0.93;
}

nav .container{
	margin: 0px auto;
	display: table;
	min-width: 800px;
	text-align: center;
}

nav img{
	margin: 1px;
	color: #FFFFFF;
	font-weight: bold;	
	cursor: pointer;
}

nav span:hover{
	color: #FF4A4A;
}

section{
	/*border: 1px #cc0000 solid;*/
	margin-top: 70px;
	margin-bottom: 46px;	
}

section .container{
	/*border: 1px #00cc00 solid;*/
	min-width: 800px;
	overflow-y: auto;
	padding: 10px;
	/*text-align: center;*/
}